<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>

<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content%> <%=review.rating%>/5</li>
  <% end %>
</ul>
<br>

<%= link_to "Back to restaurants", restaurants_path %>
<%= link_to "Add a new review",  new_restaurant_review_path(@restaurant) %>
